<h1>Create a Puppy!</h1>
<form action="/" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" value="Name">

  <br>

  <label for="breed">Breed:</label>
  <input type="text" name="breed" value="Breed">

  <br>

  <label for="age">Age:</label>
  <input type="text" name="age" value="Age">

  <br>

  <button type="submit" name="submit" value="submit">Submit</button>

</form>
